@model eventsBook.Models.EventCardDetails

<script src="/js/cardCounter.js"></script>
<script>
    function callTimer(time, selector) {
        let endTime = new Date(time);
        setInterval(() => updateCountdown(endTime, selector), 1000);
        updateCountdown(endTime, selector); // Initial call
    }
    // Update every second
</script>
<div class="container-fluid">
    <div class="row align-items-center cl_@Model.Event.Id">
        <!-- Image column (now on left) -->
        <partial name="_imageContainer" model="@Model.Event.Images" />
        <!-- Text content column -->
        <div class="col-md-6 details">
            <h1 class="display-4 mb-4">@Model.Event.Name</h1>
            <p class="lead mb-5">
                @Model.Event.Category.Name
            </p>
            <p class="lead mb-5">
                @Model.Event.Description
            </p>

            <!-- Stats section -->
            <div class="row mt-5">
                <div class="col-4">
                                        @{
                        char ValueChar = ' ';
                        int RegistaredNumber = Model.Event.Users.Count();
                        if(RegistaredNumber>1000){
                            ValueChar = 'K';
                            RegistaredNumber /= 1000;
                        }
                        else if(RegistaredNumber>1000000){
                            ValueChar = 'M';
                            RegistaredNumber/=1000000;
                        }
                        
                    }
                    <div class="stat-number">@(ValueChar != ' '?RegistaredNumber+ValueChar.ToString()+'+':RegistaredNumber)</div>
                    <div class="stat-label">Registared</div>
                </div>
                <div class="col-4">
                    <div class="stat-number">@Model.Event.Price L.E</div>
                    <div class="stat-label">Price</div>
                </div>
                <div class="countdown-container">
                    <h3>Event Countdown </h3>
                    <div class="countdown-display">
                        <span class="days">00</span>d
                        <span class="hours">00</span>h
                        <span class="minutes">00</span>m
                        <span class="seconds">00</span>s
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Event.Date > DateTime.Now)
        {
            var buttonText = Model.isRegister ? "Booked" : "Book Now";
            var item = buttonText == "Booked" ? "#" :"/thankyou?evId=" + Model.Event.Id;
            <a href=@item>
                <button class="gradient-border-btn" style="width:100%">
                    @buttonText
                </button>
            </a>
        }
    </div>
    <script>
        callTimer("@Model.Event.Date", "cl_@Model.Event.Id");
    </script>
</div>
